.advantage{
    min-height: 470px;
    padding: 70px 0 78px;
    background-color: #f6f6f6;
    &__header{
        color: $dark;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: $dark;
        font-weight: 700;
        text-align: center;
        font-size: 18px;
        margin-top: 38px;
    }
    &__subtitle{
        color: $dark;
        font-size: 14px;
        font-weight: 300;
        margin-top: 26px;
        text-align: center;
        max-width: 238px;
        a{
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &_animated{
        animation: heartbeat 1.5s ease infinite;
        &:hover{
            animation-play-state: paused;
        }
    }
}