.consultation{
    padding: 100px 0 92px;
    min-height: 680px;
    background: url('../img/bg/form.jpg') center center/cover no-repeat;
    &__header{
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        width: 775px;
        line-height: 36px;
    }
    &__descr{
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }
    .error{
        text-align: center;
        border: 1px solid red;
        margin-bottom: 15px;
        &:focus{
            border: 1px solid red;
            outline: none;
        }
    }
    label.error{
        border:none;
        color:#ffffff;
    }
    input.error{
        margin-bottom: 15px;
    }
}