.consultation{
    padding: 100px 0 92px;
    min-height: 680px;
    background: url('../img/bg/form.jpg') center center/cover no-repeat;
    &__header{
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        width: 775px;
        line-height: 36px;
    }
    &__descr{
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }
}