@media (max-width: 1200px){
    .promo{
        &__header{
            font-size: 37px;
        }
        &__subheader{
            font-size: 20px;
        }
    }
}
@media (max-width: 991px){
    .promo{
        &__wrapper{
            align-items: center;
        }
    }
    .header{
        justify-content: space-around;
    }
    .advantage{
        &__wrapper{
            justify-content: space-around;
        }
    }
}
@media (max-width: 767px){
    .header{
        &__phone{
            font-size: 14px;
        }
        &__official{
            font-size: 10px;
            span{
                font-size: 15px;
            }
        }
        &__logo{
            width: 200px;
        }
    }
    .button{
        width: 133px;
        &_main{
            width: 250px;
            margin-top: 78px;
        }
    }
    .promo{
        &__header{
            font-size: 32px;
        }
        &__subheader{
            font-size: 17px;
        }
        &__wrapper{
            margin-top: 67px;
        }
    }
    .advantage{
        padding-bottom: 30px;
        &__wrapper{
            flex-direction: column;
            margin-top: 50px;
        }
        &__subtitle{
            margin-bottom: 50px;
            max-width: 345px;
            font-size: 17px;
            margin-top: 16px;
        }
        &__header{
            font-size: 25px;
        }
        &__title{
            font-size: 23px;    
            margin-top: 20px;
        }
    }
}
@media (max-width: 575px){
    .promo{
        padding-bottom: 25px;
        &__icons{
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            img{
                width: 50%;
            }
        }
        &__wrapper{
            margin-top: 10px;
        }
        &__header{
            font-size: 24px;
            margin-bottom: 0;
            line-height: 22px;
            margin-top: 20px;
        }
        &__subheader{
            font-size: 13px;
        }
        &__icon{
            margin-top: 20px;
            font-size: 17px;
        }
        &__link{
            font-size: 13px;
        }
    }
    .header{
        flex-wrap: wrap;
        &__official{
            margin-top: 15px;
            font-size: 10px;
            span{
                font-size: 16px;
                margin-top: 5px;
            }
        }
        &__contacts{
            margin-top: 15px;
        }
        &__phone{
            font-size: 13px;
        }
        &__logo{
            width: 70%;
        }
    }
    .button{
        width: 134px;
        font-size: 11px;
        height: 35px;
        &_main{
            height: 45px;
            width: 150px;
            margin-top: 50px;
            font-size: 12px;
        }
    }
    .advantage{
        padding: 40px 0;
        &__header{
            font-size: 22px;
        }
    }
}