.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.56);
    display: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px;
    &__close{
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        color: $main;
        line-height: 21px;
        cursor: pointer;
    }
    &__subtitle{
        color: $dark;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr{
        color: $dark;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        &_mini{
            margin-top: 8px;
        }
    }
    &_mini{
        min-height: 140px;
    }
    .error{
        text-align: center;
        border: 1px solid red;
        margin-bottom: 15px;
        &:focus{
            border: 1px solid red;
            outline: none;
        }
    }
    label.error{
        border:none;
    }
    input.error{
        margin-bottom: 15px;
    }
}

#consultation, #order, #thanks{
    display: none;
}